doctype
meta(charset="UTF-8")
title ChromeApp
link(rel="stylesheet", href="lib/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="style.css")

h1 Hello
input#live_id(type="text")
span.btn.btn-default go

script(src="lib/jquery/dist/jquery.js")
script(src="lib/bootstrap/dist/js/bootstrap.js")
script(src="chrome-nicolive.js")
script(src="index.js")